.form-group
  = form.label :approver_ids, class: 'label-bold' do
    = _("Add approvers")
  = hidden_field_tag "project[approver_ids]"
  = hidden_field_tag "project[approver_group_ids]"
  .row
    .col-md-9
      .input-group.input-btn-group
        = hidden_field_tag :approver_user_and_group_ids, '', { class: 'js-select-user-and-group input-large', tabindex: 1, 'data-name': 'project', :style => "max-width: unset;" }
        %button.btn.btn-success.js-add-approvers.js-dirty-submit{ type: 'button', title: _('Add approver(s)') }
          = _("Add")
      .form-text.text-muted
        = _("Add users or groups who are allowed to approve every merge request")

  .card.prepend-top-10.js-current-approvers
    .load-wrapper.hidden
      = icon('spinner spin', class: 'approver-list-loader')
    .card-header
      = _("Approvers")
      %span.badge.badge-pill
        - ids = []
        - project.approvers.each do |user|
          - ids << user.user_id
        - project.approver_groups.each do |group|
          - group.users.each do |user|
            - unless ids.include?(user.id)
              - ids << user.id
        = ids.count
    %ul.content-list.approver-list
      - project.approvers.each do |approver|
        %li.approver.settings-flex-row.js-approver{ data: { id: approver.user_id } }
          = link_to approver.user.name, approver.user
          .float-right
            - confirm_message = _("Are you sure you want to remove approver %{name}?") % { name: approver.user.name }
            %button{ href: project_approver_path(project, approver), data: { confirm: confirm_message }, class: "btn btn-remove js-approver-remove", title: _("Remove approver") }
              = icon("trash")
      - project.approver_groups.each do |approver_group|
        %li.approver-group.settings-flex-row.js-approver-group{ data: { id: approver_group.group.id } }
          %span
            %span.light
              = _("Group:")
            = link_to approver_group.group.name, approver_group.group
            %span.badge.badge-pill
              = approver_group.group.members.count
          .float-right
            - confirm_message = _("Are you sure you want to remove group %{name}?") % { name: approver_group.group.name }
            %button{ href: project_approver_group_path(project, approver_group), data: { confirm: confirm_message }, class: "btn btn-remove js-approver-remove", title: _("Remove group") }
              = icon("trash")
      - if project.approvers.empty? && project.approver_groups.empty?
        %li= _("There are no approvers")

.form-group
  = form.label :approvals_before_merge, class: 'label-bold' do
    = _("Approvals required")
  = form.number_field :approvals_before_merge, class: "form-control w-auto", min: 0
  .form-text.text-muted
    = _("Set number of approvers required before open merge requests can be merged")
